body{
	background-color: #002b36;
}

h1{
	font-family: "Lucida Console", Monaco, monospace;
	color: #268bd2;
}
h2{
	font-family: "Lucida Console", Monaco, monospace;
	color: #d33682;
}
h3 {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}
a:link {
    text-decoration: none;
	color: #b58900;
}
a:hover {
	text-decoration: none;
	color: #cb4b16 !important;
	
}
a:visited {
	text-decoration: none;
	color: #b58900;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
li {
	display: inline;
}
.monospace {
	font-family: "Lucida Console", Monaco, monospace;
}
.grow { 
	transition: all .1s ease-in;
	transform-origin: left;
}
.grow:hover { 
	transform: scale(1.1); 
}
