@import 'https://fonts.googleapis.com/css?family=Suez+One';
*{ position: relative; }

body {
	background-color: #ECF0F1;
}
html,body {
	margin:0;
	padding:0;
}
h1 {
	color:;
}
h2 {
	font-family: "Lucida Console", Monaco, monospace;
	color: #d33682;
}
h3 {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}
a {
	display: block;
	padding: 10px;
	background-color: 000000;
}
a:link {
    text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
	color:  !important;
	
}
a:visited {
	text-decoration: none;
	color: #ffffff;
}

ul {
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #212121;
}
li {
	display: inline;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: #a0c4ff;
}
div {
	
}
.active {
    background-color: #4480e2;
}
.monospace {
	font-family: "Lucida Console", Monaco, monospace;
}
.grow { 
	transition: all .1s ease-in;
	transform-origin: center;
}
.grow:hover { 
	transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.vet {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
}
.whitetxt {
	color: #ECF0F1;
}
.darktxt {
	color: #212121;
}
.turqtxt {
	color: #0fd8d8;
}
.redtxt {
	color: #CC333F;
}
.suez {
		font-family: 'Suez One', serif;
	}
.page-header-home {
	color: #ffffff;
	text-align: right;
	background-color: #011627;
}
.nav {
	padding: 0px;
}
.banner {
	font-family: 'Suez One', serif;
	font-weight: bold;
	background-color: #ECF0F1;
	padding: 20px 0px 20px 0px;
	font-size: 48px;
	text-align: center;
}
.button {
	font-family: 'Suez One', serif;
	background-color: #ecf0f1;
    border: none;
    color: #212121 !important;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: px px;
    cursor: pointer;
}
.button:hover {
	color: #ecf0f1 !important;
	background-color: #212121;
}
button:focus {
	outline: none;
}
button:active {
	background-color: #ecf0f1;
}
button:hover {
	color: #ecf0f1;
	background-color: #212121;
}
.center {
	text-align: center;
}
.line {
	background-color: #212121;
	font-size: 5px; /* this controls line thickness */
}
.main-body {
	margin: 50px;
}
.box {
    background-color: nonex;
    width: 250px;
	height: 180px;
    border: 6px solid #212121;
    padding: 10px;
    margin: 10px;
	text-align: center;
}
.box-header {
    background-color: none;
    color: white;
    padding: 0px;
    font-size: 40px;
}
.inline-block {
	display: inline-block;
}
.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}